<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="/css/style.css">
  <title><%=title%></title>
</head>
<body>

  <div class="ajaxbg">
    <div class="ajaxinner">
      <h2>You are now being redirected to payment page...</h2>
      <img src="/images/loader.gif" alt="">
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Shopping-cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       <% pages.forEach(page=>{ %>
        <%if(page.slug=='home'){%>
          <li class="nav-item">
              <a class="nav-link" href="/"><%=page.title%></a>
          </li>
        <%}else{%>
          <li class="nav-item">
              <a class="nav-link" href="<%=page.slug%>"><%=page.title%></a>
          </li>
        <%}%>
       <% }); %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/cart/checkout">My Cart(
            <%if(typeof cart !== "undefined"){%>
              <%=cart.length%>
            <%}else{%>
              0
            <%}%>
          )</a>
        </li>
       </ul>
    </div>
  </nav>

<div class="container">
    <%- messages('messages', locals) %>
    
    <div class="row category">
      <div class="col-xs-12 col-md-3">
        <h3>Categories</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/products">All products</a>
          </li>
          <%categories.forEach(c=>{%>
            <li class="list-group-item">
              <a href="/products/<%=c.slug%>"><%=c.title%></a>
            </li>
          <%});%>
        </ul>
      </div>
      <div class="col-xs-12 col-md-1">

      </div>
      <div class="col-xs-12 col-md-8">

